/* vertical navbar */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overlfow: hdden;
   width: 60px;
}

.navbar {
  display: inline;
  width: 60px
  float: left;
}

/*.container puts the wepage in a container to enhance the look of the content.*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 110px;
}
/*contentbox puts content into a box to seperate content into different boxes.*/
.contentbox {
  background-color: #515151;
  border-radius: 15px;
  box-shadow: 5px 5px #272525;
  color: black;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 20px;
  /* animation-name: btn;
  animation-duration: .06s;
  animation-iteration-count: infinite; */
  height: 800px;
  width: 600px;
}

button {
  border-radius: 1990px;
  padding: 10px;
  font-size: 120px;
  animation-name: btn;
  animation-duration: .05s;
  animation-iteration-count: infinite;
}

@keyframes btn {
  0% {color: purple}
  25% {color: pink}
  50% {color: brown}
  75% {color: yellow}
  100% {color: #2fafaf}
  0% {background-color: green}
  50% {background-color: red}
  100% {background-color: blue}
}

.fun {
  animation-name: btn;
  animation-duration: .09s;
  animation-iteration-count: infinite;
}

body {
}

button:hover {
    float:right;
}

button {

  /* animation-name: btn;
  animation-duration: .04s;
  animation-iteration-count: infinite; */
}
#pushMe {
  position: relative;
  animation-name: moves;
}
moves {
  0% {left: 0px; top: 0px;}
  25% {left: 500px; top: 0px;}
  50% {left: 500px; top: 500px;}
  75% {left: 0px; top: 500px;}
  100% {left: 0px; top: 0px;}
}



font {
  /* animation-name: btn;
  animation-duration: .6s;
  animation-iteration-count: infinite; */
}
